<html>

    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    </head>

    <body>
    <h1>Vielen Dank für Ihre Bestellung!</h1>
    <p>In wenigen Minuten Sie erhalten eine Rechnung von Stripe</p>
    <p>Ihre Ware befindet sich unten, in Attachments:</p>
    </body>

</html>