<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <style>
            a { padding: 10px; width: 100px; color: white; background-color:
            rgb(75, 112, 235); border: none; border-radius: 5px; text-align:
            center; text-decoration: none; }
        </style>
    </head>

    <body>
        <p>Hallo {{name}}. Sie haben Kennwortwiedersetzung aufgerufen!</p>
        <p>Falls es nicht Sie waren, drücken Sie bitte auf die Taste nicht</p>

        <a href={{url}}>
            Drücken Sie zum Wiedersetzen
        </a>
    </body>

</html>