.order_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_list * {
    margin: 5px;
}

.order_footer {
    margin-top: 8px;
    padding-top: 8px;
    border: none;
    border-top: solid 1px black;
}
