p.status {
    display: flex;
    align-items: center;
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

p.status.rejected {
    background-color: red;
}

p.status.pending {
    background-color: rgb(168, 131, 8);
}

p.status.success {
    background-color: rgb(103, 170, 3);
}