$base-color: rgb(2, 158, 255);
$transform-time: 0.15s;

.cart {
    text-align: center;
}

.cart_footer {
    // position: sticky;
    // left: 0;
    // bottom: 0;
    margin-top: 8px;
    padding-top: 8px;
    // margin-bottom: 8px;
    border: none;
    border-top: solid 1px black;
    justify-content: center;
    align-items: center;
    // background-color: $base-color;
    color: white;
}

.cart.column .column{
    margin-top: 10px;
}

.product_column {
    display: flex;
    width: 100%;
    align-items: flex-start;
    width: fit-content;
}

.product_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

img.product_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    // min-width: 100px;
    max-width: 100px;
    padding-right: 16px;
}

.remove_item_button {
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: opacity $transform-time, text-decoration $transform-time;
    padding: 4px;
}

.remove_item_button:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.remove_item_button:active {
    opacity: 0.7;
}

.counter {
    width: min-content;
}

.product_column.column * {
    margin: 1px;
}

.counter button {
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity $transform-time;
}

.counter button.increase_amount_button {
    background-color: rgb(6, 209, 6);
}

.counter button.decrease_amount_button {
    background-color: rgb(255, 0, 0);
}

.counter button:active {
    opacity: 0.7;
}

.cart_footer * {
    padding: 5px;
}

.cart_footer button {
    width: 100%;
    background-color: $base-color;
    border: none;
    color: white;
    // font-size: medium;s
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
}
.cart_footer button a {
    color: white;
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.cart_footer a {
    align-self: flex-start;
    text-decoration: none;
    color: black;
}
