div.review {
    background-color: #e8f5ff;
    border: none;
    border-radius: 18px;
    padding: 18px;
    margin: 10px;
}

div.review div.review_head {
    display: flex;
    justify-content: space-between;
}

div.review div.review_photos img,
div.review div.review_body p {
    margin: 10px;
}