div.error_title {
    margin: 15px;
    padding: 10px;
    background-color: #e8f5ff;
    border-radius: 5px;
    align-items: center;
}

div.error_title * {
    margin: 5px;
}

div#error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
