$base-color: rgb(2, 158, 255);
$transform-time: 0.15s;

.cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.product_in_cart {
    margin: 10px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 20px;
    width: 75vw;
}

.product_in_cart * {
    text-align: start;
}

.cart_footer{
    display: unset;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
}

.remove_item_button {
    border-radius: 18px;
    background-color: white;
    border: none;
    text-align: center;
    color: red;
    cursor: pointer;
    transition: opacity $transform-time, text-decoration $transform-time;
    // position: stic;
    left: 12vw;
    padding: 4px;
}

.remove_item_button:hover {
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}
