.footer_content {
    border-top: solid 1px black;
    align-items: center;
    justify-content: space-around;
}

.footer_data {
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.footer_data a {
    width: max-content;
    height: min-content;
    margin: 5px;
}

.company_data {
    align-self: center;
    border: none;
    border-top: solid 1px black;
    width: 95vw;
    height: min-content;
    justify-content: center;
}

.company_data p {
    margin: 5px;
}
