$base-color: rgb(2, 158, 255);
$transform-time: 0.15s;

.form_content {
    align-items: center;
}

.form_title {
    margin: 5px;
}

.form_buttons {
    align-content: center;
}

.form_buttons button {
    margin: 10px;
}

.form p, .form input {
    width: 80vw;
    max-width: 900px;
    margin: 1vw 0;
}

.form p{
    padding: 24px 40px;
    text-align: center;
}

.form input {

    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    align-self: center;
}

.form input:focus {
    border-bottom: 3px solid  $base-color;
}

.cart_button.opacity.submit {
    margin: 5px;
}

.no_acc_button {
    background-color: white;
    border: solid 2px rgb(98, 197, 84);
    width: fit-content;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity $transform-time;
    padding: 5px;
    align-items: center;
    -webkit-transition: background-color $transform-time;
}

.no_acc_button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(98, 197, 84);
    -webkit-transition: background-color $transform-time;
    transition: background-color $transform-time;
}

.no_acc_button:active {
    opacity: 0.7;
}