.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /* border: solid 1px black; */
    margin-right: 30px;
    margin-left: 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px black;
    align-content: center;
}

.nav * {
    /* border: solid 1px black; */
    margin: 3px;
    width: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.nav_column * {
    /* border: solid 1px black; */
    padding: 5px;
    text-align: center
}

@media (max-width: 767px) {

    .nav_title {
        display: none;
    }
}

/* ##### FOOTER */

.footer {
    border-top: solid 1px black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* background-color: gray; */
}

.footer_data {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer_data * {
    /* border: solid 1px black; */
    width: fit-content;
    height: min-content;
    margin: 5px;
    list-style-type: none;
}

.footer_data a {
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.footer_title {
    margin-left: 5px;
}

a.link:hover,
a.link:active {
    color: #36d8f4;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: fit-content;
    height: fit-content;
    background: white;
    color: black;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}