$base-color: rgb(2, 158, 255);

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /* border: solid 1px black; */
    margin-right: 30px;
    margin-left: 30px;
}

a.link:hover,
a.link:active {
    color: $base-color;
}

/* ##### BUTTONS */

.opacity:hover {
    opacity: 0.7;
}

.opacity:active {
    opacity: 0.5;
}

.items_content{
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    /* height: max-content; */
}
