$transform-time: 0.15s;

.fade_layer {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: fixed;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal {
    width: min-content;
    height: min-content;
    background: white;
    color: black;
    padding: 16px;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
}

.modal_title {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal_title p {
    margin: 0px;
}

.close_button {
    text-align: center;
    height: min-content;
    width: min-content;
    color: gray;
    border: none;
    font-weight: bold;
    justify-content: stretch;
    transition: opacity $transform-time;
    /* https://stackoverflow.com/questions/10995165/what-is-the-opposite-of-hover-on-mouse-leave */
    -webkit-transition: background-color $transform-time;
    border-radius: 50%;
    margin-bottom: 4px;
}

.close_button:hover {
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color $transform-time;
}

.modal_content{
    display: initial;
}