.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px black;
    align-content: center;
}

.nav_column {
    margin: 3px;
    width: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav_column .link {
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.nav_title {
    height: min-content;
    margin: 0px;
}

.nav_column * {
    height: min-content;
    padding: 5px;
    text-align: center;
    /* color: black; */
    text-decoration: none;
    display: inline-block;
}

.mobile_button {
    display: none;
    background-color: white;
    border: solid 1px black;
    border-radius: 2px;
}


.mobile {
    display: none;

}

@media (max-width: 767px) {

    .mobile  {
        display: flex;
    }
    .mobile_button{
        display: flex;
    }

    .nav_title {
        align-self: center;
    }

    .link.column {
        display: none;
    }
}

.login_button {
    /* background-color: rgb(2, 158, 255); */
    background-color: white;
    border: solid 2px rgb(2, 158, 255);
    width: fit-content;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
    padding: 5px;
    display: flex;
    align-items: center;
    -webkit-transition: background-color 0.15s;
}

.login_button * {
    padding: 1px;
}

.login_button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(2, 158, 255);
    transition: background-color 0.15s;
}