.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px black;
    align-content: center;
}

.nav_column {
    margin: 3px;
    width: content-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav_column .link {
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.nav_title {
    height: min-content;
    margin: 0px;
}

.nav_column * {
    height: min-content;
    padding: 5px;
    text-align: center;
    /* color: black; */
    text-decoration: none;
    display: inline-block;
}

.nav_title {
    color: black
}

.dropdown[type=button] {
    display: none;
    background-color: white;
    border: solid 1px black;
    border-radius: 2px;
}


.dropdown {
    display: none;
    border: none;
    background-color: white;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    height:40%;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content * {
    text-align: start;
    align-self: center;
    border: none;
    border-bottom: solid 1px black;
    width: 90vw
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 767px) {

    .dropdown {
        display: flex;
    }

    .dropdown[type=button] {
        display: flex;
    }

    .nav_title {
        align-self: center;
    }

    a.link.column {
        display: none;
    }
}

.login_button {
    /* background-color: rgb(2, 158, 255); */
    background-color: white;
    border: solid 2px rgb(2, 158, 255);
    width: fit-content;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
    padding: 5px;
    display: flex;
    align-items: center;
    -webkit-transition: background-color 0.15s;
}

.login_button * {
    padding: 1px;
}

.login_button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(2, 158, 255);
    transition: background-color 0.15s;
    -webkit-transition: background-color 0.15s;
}