.product{
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: 
        padding-top 0.5s,
        padding-bottom 0.5s,
        padding-left 0.5s,
        padding-right 0.5s,
        box-shadow 0.5s;
    text-align: center;
}

.product:hover{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.lang_button{
    border: none;
    background-color: white;
    color: rgb(2, 158, 255);
}