$base-color: rgb(2, 158, 255);
$transform-time: 0.2s;

.product {
    // border: solid 1px black;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    width: 40%;
    height: 15rem;
    width: 20rem;
    position: relative;
    // box-shadow: 1px 0px 50px 8 rgb(0 0 0 / 23%);
    background-color: rgb(0 0 0 / 23%);
    justify-content: center;
}

.product img {
    height: 100%;
    width: min-content;
    opacity: 100%;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.product img:hover {
    // height: min-content;
    // width: min-content;
    opacity: 70%;
}

.layer span {
    color: white;
    height: min-content;
    background-color: #004990;
    border-radius: 30px;
    margin: 3px;
    padding: 5px;
    width: min-content;
    align-self: flex-end;
}

.layer .product_footer {
    border-radius: 10px;
    height: min-content;
    width: min-content;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.layer .product_footer h3 {
    color: white;
    padding: 5px;
    margin: 0;
}

.layer {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.product_on_page {
    // flex-wrap: wrap;
    align-items: stretch;
    padding: 10px;
}

.buy_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    background-color: gray;
    border-radius: 30px;
    // justify-content: ;
}

.buy_row * {
    margin: 5px;
    width: fit-content;
}
.buy_row h3 {
    color: white;
    margin: 0;
    padding: 15px;
}

.product_on_page img {
    height: 30vw;
    margin-right: 30px;
}

@media screen and (max-width: 767px) {
    .product_on_page {
        justify-content: center;
        align-items: center;
    }
}

.buy {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    justify-content: center;
    flex-wrap: wrap;
}

.go_to_product {
    text-decoration: none;
    color: black;
}

.add_to_cart_button {
    border: none;
    border-radius: 18px;
    padding: 5px;
    background-color: rgb(2, 158, 255);
    color: white;
    cursor: pointer;
    transition: opacity $transform-time;
}

.add_to_cart_button:hover {
    opacity: 0.8;
}
