$base-color: rgb(2, 158, 255);
$transform-time: 0.2s;

.product {
    // border: solid 1px black;
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
    // transition: padding-left $transform-time, padding-right $transform-time, box-shadow $transform-time,
    //     margin $transform-time;

    // -webkit-transition: padding-left $transform-time, padding-right $transform-time, box-shadow $transform-time,
    //     margin $transform-time;
    // text-align: center;
    width: min-content;
}

.product img {
    opacity: 100%;
    transition: opacity 0.3s;
}

.product img:hover {
    opacity: 70%;
}

.product_on_page {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    align-items: stretch;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    .product_on_page {
        justify-content: center;
        align-items: center;
    }
}

div.product_on_page img {
    // display: flex;
    align-self: center;
    width: auto;
}

.products {
    justify-content: center;
    flex-wrap: wrap;
}

.go_to_product {
    text-decoration: none;
    color: black;
}

.add_to_cart_button {
    border: none;
    border-radius: 18px;
    padding: 5px;
    background-color: rgb(2, 158, 255);
    color: white;
    cursor: pointer;
    transition: opacity $transform-time;
}

.add_to_cart_button:hover {
    opacity: 0.8;
}

.product img {
    align-self: center;
}
