$base-color: rgb(2, 158, 255);
$transform-time: 0.2s;

.product {
    display: flex;
    // padding: 10px;
    border-radius: 10px;
    height: 15rem;
    position: relative;
    justify-content: center;
}

.product img {
    height: 100%;
    width: 100%;
    opacity: 100%;
    transition: opacity 0.3s;
    border-radius: 10px;
    max-width: 400px;
}

.product img:hover {
    opacity: 70%;
}

.layer span {
    color: white;
    height: min-content;
    background-color: #004990;
    border-radius: 30px;
    margin: 3px;
    padding: 5px;
    width: min-content;
    align-self: flex-end;
}

.layer .product_footer {
    border-radius: 10px;
    height: min-content;
    width: min-content;
    background-color: gray;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.layer .product_footer h3 {
    color: white;
    padding: 5px;
    margin: 0;
}

.layer {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.product_on_page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
}

.buy_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    background-color: gray;
    border-radius: 30px;
}

.buy_row * {
    margin: 5px;
    width: fit-content;
}
.buy_row h3 {
    color: white;
    margin: 0;
    padding: 15px;
}

.product_on_page img {
    padding-right: 10px;
    min-width: 400px;
    width: 30vw;
}

@media screen and (max-width: 767px) {
    .product_on_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product {
        width: 100%;
    }

    .product_on_page img {
        padding-right: 0;
        width: 90vw;
        min-width: 0px;
    }
}

.buy {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buy p {
    width: fit-content;
}

.products {
    justify-content: center;
    flex-wrap: wrap;
}

.go_to_product {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.add_to_cart_button {
    border: none;
    border-radius: 18px;
    padding: 5px;
    background-color: rgb(2, 158, 255);
    color: white;
    cursor: pointer;
    transition: opacity $transform-time;
    text-decoration: none;
    width: 20vw;
    font: large;
    max-width: 100px;
}

.add_to_cart_button:hover {
    opacity: 0.8;
}

.product_title {
    align-items: center;
}
.product_title svg {
    margin-right: 15px;
}
